@model IEnumerable<BDI.TrabalhoFinal.Controllers.FaturamentoPorVeiculoViewModel>

@{
    ViewData["Title"] = "Relatório de Faturamento por Veículo";
}

<div class="container mt-5">
    <h2 class="mb-4">Relatório de Faturamento por Veículo</h2>

    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Nome Proprietário</th>
                    <th>Placa Veículo</th>
                    <th>Tipo Pagamento</th>
                    <th>Valor Total Faturado</th>
                    <th>Valor Médio Faturamento</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var faturamento in Model)
                {
                    <tr>
                        <td>@faturamento.Proprietario.Nome</td>
                        <td>@faturamento.Placa</td>
                        <td>@faturamento.FormaPagamento</td>
                        <td>@faturamento.ValorTotalFaturado.ToString("C")</td>
                        <td>@faturamento.ValorMedioFaturamento.ToString("C")</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>